.DisplayNote-Container{
  
    display: flex;
    padding:20px;
    margin-right: 2%;
    flex-wrap: wrap;   
    height: 150px;
    width: 125%;
    border: none;
    margin-top: 5%;
  
    
    .DisplayNote-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border: 1px solid transparent;
        justify-items: center;
        box-shadow: 1px 1px 1px 1px gray;
        color: rgba(0, 0, 0, 0.54);
        padding: 20px;
        border-radius: 8px;
        margin-right: 2%;
        height: 120px;
        width: 25%;
        margin-bottom: 5%;

        .desc-text{
            word-wrap: break-word;
        }
        .TakeNoteExpand-icons{
           

            &:hover{
                display: block;}
            
        }
        
    }
}