.DisplayNote-Container{
  
    display: flex;
    padding:20px;
    margin-right: 2%;
    flex-wrap: wrap;   
    height:  286px;
    width: 90%;
    border: none;
    margin-top: 5%;
    margin-left: 11vh;
  
    
    .DisplayNote-box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border: 1px solid transparent;
        justify-items: center;
        box-shadow: none;
        border: 1px solid #e0e0e0;
        color: rgba(0, 0, 0, 0.54);
        padding: 20px;
        border-radius: 8px;
        margin-right: 2%;
        height: 150px;
        width: 23%;
        margin-bottom: 5%;

        .desc-text{
            word-wrap: break-word;
        }
        .TakeNoteExpand-icons{
           

            &:hover{
                display: block;}
            
        }
        
    }
   
}
.iconsList {
    width: 50%;
}

.DisplayCloseBtn{
    float:right;
    margin-right: 20vh !important;
    margin-top: -6vh !important;
    background-color: transparent !important;
}