.AlertDialog-Container{
  
    display: flex;
    padding:20px;
    margin-right: 2%;
    flex-wrap: wrap;   
    height: 150px;
    width: 135%;
    border: none;
    margin-top: 5%;
    
    .AlertDialog-box{
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        height: 73px;
        width: 456%;
        border: 1px solid red;
        margin-top: -25%;
        margin-left: -13%;
        overflow-x: hidden;
    }
    .AlertIcons-container{
        display: flex;
        width: 80%;
       
        justify-content: flex-start;
        color: #5f6368;
        size: 10%;
        position: relative;
    }
}
.ThreeDotsIcons-list{
    z-index: 2;
    list-style: none;
}
.DisplayNote-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid transparent;
    justify-items: center;
    box-shadow: 1px 1px 1px 1px gray;
    color: rgba(0, 0, 0, 0.54);
    padding: 20px;
    border-radius: 8px;
    margin-right: 2%;
    height: 120px;
    width: 25%;
    margin-bottom: 5%;

    .desc-text{
        word-wrap: break-word;
    }
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    overflow-y: none ;
    width: 50%;
    justify-content: flex-start;
}

