.AlertDialog-Container{
  
    display: flex;
    padding:20px;
    margin-right: 2%;
    flex-wrap: wrap;   
    height: 150px;
    width: 135%;
    border: none;
    margin-top: 5%;
    
    .AlertDialog-box{
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        height: 73px;
        width: 456%;
        border: 1px solid red;
        margin-top: -48%;
        margin-left: -13%;
        overflow-x: hidden;
    }
    .AlertIcons-container{
        display: flex;
        width: 40%;
        justify-content:space-between;
        color: #5f6368;
        size: 10%;
    }
}
.ThreeDotsIcons-list{
    z-index: 2;
    list-style: none;
}