.TakeNotes-textareaContainer{
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 5%;
    display: flex;
    .Textarea-DisplayNotes{
        width: 80%;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        color: black !important;
        min-height: 46px;
        padding: 4px 16px 12px 16px;
        font-family: Roboto,Arial,sans-serif;
        box-sizing: border-box;
        outline: none;
        white-space: pre-wrap;
        word-wrap: break-word;
        box-shadow:1px 1px 1px 1px gray;
        
        border-width: 0px 0 0 4px;
       
        outline: none;

        border: 1px solid transparent;
        border-radius: 8px;
       
    }
    
    .DisplayInput-icons{
        width: 15%;
        display: flex;
        justify-content:space-between;
        color: gray;
        flex-direction: row;
        position: relative;
        margin-left: -25vh;
        margin-top: 2vh;
    
        
    }
}

.TakeNote-expandContainer{
   
    display: flex;
    padding: 10px;
    flex-direction: column;
    height: 130px;
    width: 60%;
    box-shadow: 1px 1px 1px 1px #888888;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 5%;
    border-radius: 8px;
  

    .Textarea-TakeaNote{
        outline: none;
        border:none;
        width: 80%;
        height: 45px;
        resize: none;
    }
    .TakeNoteExpand-icons{
        display: flex;
        width: 75%;
        margin-right: 2vh;
        justify-content:space-between;
        color: #5f6368;
        size: 8%;
        // display: none;
        // &:hover{
        //     display: block;
        // }
      
       
    }
    .takenote-close-btn{
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        color:gray;
        background-color: transparent;
        justify-content: right;
        margin-left: 80%;
        margin-top: 5vh;
        
    }
}
.icon-container{
    display:flex;

}
input{
    font-weight: bold;
}
.css-i4bv87-MuiSvgIcon-root{
    width: 2%;
    margin-right: 2%;
    margin-left:0;

}