@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&family=Luxurious+Roman&family=Nanum+Gothic&family=Open+Sans:wght@500&family=Poiret+One&display=swap');

$font-blue: #1a73e8;$font-red:red;$font-yellow:yellow;$font-green:green;$fontweight:600;


.SignIn-fundo-heading{
    
    margin-top: 8vh;
    margin-bottom: 6vh;
    margin-left: 34vh !important;
    line-height: .5;
    display: flex;
    height: 24px;
    overflow: visible;
    justify-content: center;
    width: 75px;
    font-weight: $fontweight;

    #SignIn-blue{
    
        color:$font-blue;
       
    }
    #SignIn-red{
        color:$font-red;
    }
    #SignIn-yellow{
        color:$font-yellow;
    }
    #SignIn-green{
        color:$font-green;
    }
}



.SignIn-form{
    border-radius: 8px;
    border: 1px solid #dadce0;
    margin: 20px auto;
    max-width: 36%;
    position: relative;
}

.SignIn-heading{
    color: #202124;
    padding-bottom: 0;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    text-align: center;
    margin-left: 1vh;
    font-weight: 300;
}

.SignIn-subheading{
    color: #202124;
    font-size: 16px !important;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 0.5;
    text-align: center;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif !important;
    margin-left: 3vh !important;
    margin-bottom: 10vh;
}

.SignIn-create-acct-title{
    text-decoration: none;
    color: #1a73e8;
    margin-left: 50vh;
}



.SignIn-form-group{
    margin-bottom: 2vh;
    margin-left: 7vh;
    width: 82%;
}



.SignIn-forgot-email-container{
    margin-top: -5vh;
    margin-bottom: 5vh;
    font-weight: $fontweight !important;
    margin-right: 49vh !important;

   
}
#SignIn-forgot-email {
    text-decoration: none ;
    margin-bottom: 5vh;
    margin-top: -5vh;
    font-size: 14px !important;
    color: $font-blue;
    margin-left: 7vh;
    
}
.SignIn-helper-content{
    margin-top: 6vh;
    font-size: 14px;
    line-height: 1.4286;
    margin-left: 10vh;
    color: #5f6368;
    margin-left: 7vh;

}
$color-blue:blue;

.SignIn-learn-more{
    margin-left: 7vh;
    text-decoration: none;
    font-size: 14px ;
    color: $font-blue;
    font-weight: $fontweight !important;
}
.SignIn-create-acct-btn{
    background-color: transparent;
    color:$color-blue;
    font-family:Roboto,Arial,sans-serif;
    font-size: .975rem;
    letter-spacing: .0107142857em;
    border: none;
    margin-left: -44vh;
    margin-top: 5vh;
    color: $font-blue;
    font-weight: 590 !important;
}
.SignIn-next-container{
    display:grid;
    margin-top: -6vh;
}
.SignIn-next-btn{
    margin-left: 58vh;
    float: right;
    width: 18%;
    background-color: #1a73e8;
    color:white;
    font:200;
    margin-bottom: 5vh;
    height: 38px;
    border-radius: 4px;
    border-color: transparent;
    
}