.form{
    font-size: 14px;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    border: 1px solid #dadce0;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
}

.form-group{
    margin-bottom: 4vh;
    margin-left: 8vh;
}

h2,h3{
    margin-left: 8vh;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #1a73e8;
    margin-left: 8vh;
    
}

.email-link{
    margin-bottom: 10vh;
}

.next-btn{
    margin-left: 70vh;
    float: right;
    width: 10%;
    padding: 2vh;
    background-color: #1a73e8;
    color:white;
    font:200;
    margin-bottom: 10vh;
    
}


#first-name{
    width: 40%;
}
.next-container{
    display:grid;
}

#last-name{
    width: 40%;
    margin-left: .5rem;
}

.sign-in-instead{
    float: left;
    margin-top: -14vh;
    margin-bottom: 5vh;
}
#User-name{
    width: 250%;
}

h2{
    color-scheme:inherit;
}