$font-blue: #1a73e8;$font-red:red;$font-yellow:yellow;$font-green:green;$fontweight:500;
$roboto-font:roboto,'Noto Sans Myanmar UI',arial,sans-serif;
$sans-font:'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
.forgotPassword-form
{
    border-radius: 8px;
    border: 1px solid #dadce0;
    margin: 20px auto;
    max-width: 36%;
    

    .forgotPassword-fundo-heading {
        display: flex; 
        height: 24px;
        font-size: 22px;
        font-weight: $fontweight;
        font-family: $roboto-font;
        align-items: center;
        justify-content: center;
        margin-bottom: 1vh;
        margin-top: 10vh;
        #forgotPassword-blue{
            color:$font-blue;
        }
        #forgotPassword-red{
            color:$font-red;
        }
        #forgotPassword-yellow{
            color:$font-yellow;
        }
        #forgotPassword-green{
            color:$font-green;
        }
    }

    .forgotPassword-main{
                font-family: $sans-font;
                font-size: 24px;
                font-weight: 400;
                line-height: 1.3333;
    }

    .forgotPwd-sub-heading{
            color: #202124;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.1px;
            line-height: 1.5;
            margin-left: 1vh;
            margin-bottom: 5vh;
            font-family: $roboto-font;
            margin-top: -1vh;
    }
    .forgotPasswordform-group{
        margin-left: 8vh;
        margin-bottom: 12vh;

        .forgotpwd-phoneoremail {
    
            background-color: transparent;
            border: none;
            display: block;
            font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
            line-height: 24px;
            margin: 0;
            min-width: 0%;
            border-radius: 4px;
            color: #202124;
            font-size: 16px;
            height: 28px;
            margin: 1px 2px 0 1px;
            padding: 13px 15px;
            margin-left: -2vh;
            margin-right: 5vh;
        }
        

    }
    .forgotPasswordnext-container{
        display:grid;
       margin-top: -4vh;
        margin-bottom: 20vh;

        .forgotPasswordnext-btn{
            margin-left: 59vh;
            float: right;
            width: 17%;
            background-color: #1a73e8;
            color:white;
            font:200;
            margin-bottom: 10vh;
            height: 40px;
            border-radius: .5rem;
            border-color:transparent;
        }
    }
}