.form{
    font-size: 14px;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    border: 1px solid #dadce0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: left;
    max-width: 55% !important;
}
#fundo-heading{
    justify-content: left !important;
}

h2{
    margin-left: 7vh !important ;
}

.form-group{
    margin-bottom: 6vh;
    margin-left: 8vh;
    width: 95%;
}


h2{
    font-size: 22px;
    line-height: 1.4286;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    
}

/* a{
    text-decoration: none;
    font-size: 16px;
    color: #1a73e8;
    margin-left: 8vh;
    
} */


.email-link{
    margin-bottom: 6vh;
}

.next-btn{
    margin-left: 60vh;
    float: right;
    width: 10% !important;
    background-color: #1a73e8;
    color:white;
    font:200;
    margin-bottom: 10vh;
    height: 40px;
    border-radius: .5rem;
    border-color: #1a73e8;
    
}
 

#first-name{
    width: 45%;
    
}
#last-name{
    width: 45%;
    
}
.next-container{
    display:grid;
}



.sign-in-instead{
    float: left;
    margin-top: -16vh;
    margin-bottom: 10vh;
    font-weight:500;
}
#User-name{
    width: 80% !important;
}

.helper-text{
    margin: left 1vh;
}

.google-image{
    float: right;
    margin-top: -104vh;
    margin-right: -2vh;
}
.create-heading {
    margin-bottom: 6vh !important;
    color: #202124;
    
   
    font-weight: 400 !important;
    line-height: 1.3333;
}
h3{
    font-size: 22px !important;
    margin-bottom: 8vh !important;
    margin-left: -54vh !important;
    font-weight: 400 !important;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif !important;
    letter-spacing: .5;
    font-size: 24px !important;
}

 /* @media screen and (max-width:640px) {  
    .google-image {
      display: none;
    }
    .form{
        max-width: 100% !important;
    }
    .firstName{
        width:276% !important;
        margin-bottom: 3vh;
    }
    .lastName{
        width:283%;
    }
    .pwd{
        width: 280%;
    }
    .confirm{
        width: 285%;
    }

    h3{
        font-size: 22px !important;
        margin-left: 1vh !important;
    }
    .helper-text{
        font-size: 10px !important;
    }
    

    .form{
        font-size: 14px;
        line-height: 1.4286;
        color: #202124;
        font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
        text-align: left;
        border: none !important;
        margin-left: 5%;
        margin-right: -30%;
        margin-top: 2%;
    }

    #first-name{
        display: flex;
        padding: 6px 8px;
        width: 200%;
    }
    #last-name{
        display: flex;
        padding: 6px 8px;
        width: 200%;
        
    }
    .userName{
        width: 133% !important;
        padding: 5.2px;
        margin-left: -1vh;
    }
    .form-group{
        margin-bottom: 3vh !important;
        margin-left: 1vh;
        width: 100%;
    }
    html, body{
        overflow-x: hidden;
        }

        a{
            margin-left: 8vh;
        }
        .email-link{
            font-size:12px !important;
            margin-left: -2vh;
        }
        .FormControlLabel{
                font-size: 12px !important;
        }

        
}   */
