$font-blue: #1a73e8;$font-red:red;$font-yellow:yellow;$font-green:green;$fontweight:600;
$show-color: #202124;
.SignUp-form{
    
    font-size: 14px;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    border: 1px solid #dadce0;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    max-width: 60% !important;
}
.SignUpform-group-showpwd{
    color: $show-color;
    
    margin-left: 8vh;
}
.SignUpshowpwd-text label{
    font-size: 8px !important;
}
#SignUp-fundo-heading{
    display: flex;
    margin-bottom: -6vh;
    justify-content: left ;
    font-size: 22px;
    line-height: 1.4286;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    margin-left: 8vh  ;
    font-weight: 500;

    #SignUp-blue{
        color:$font-blue;    
    }
    #SignUp-red{
        color:$font-red;
    }
    #SignUp-yellow{
        color:$font-yellow;
    }
    #SignUp-green{
        color:$font-green;
    }
}

.SignUpform-group{
    margin-bottom: 1vh;
    margin-left: 8vh;
    width: 100%;
    display: flex;
    position: relative;
    
    
}
.signInInstead-text{
    text-decoration: none;
    font-size: 16px;
    color: #1a73e8;
    margin-left: 8vh;
   
}

.SignUpEmail-link{
    text-decoration: none;
    font-size: 16px;
    color: #1a73e8;
    margin-left: 8vh;
    font-weight: 500;
    
} 

.SignUp-email-container{
    margin-bottom: 6vh;
}

.SignUpNext-btn{
    margin-left: 70vh;
    float: right;
    width: 10% !important;
    background-color: #1a73e8;
    color:white;
    font:200;
    margin-bottom: 10vh;
    height: 40px;
    border-radius: 4px;
    border-color:transparent;
    
}
 

.SignUp-firstName{
    width: 29%;
   
    
}
.SignUp-lastName{
    width: 29%;
    
}

.SignUp-password{
    width: 29%;

}
.SignUp-confirm{
    width: 29%;
}

.SignUp-pwd-helper-text{
    margin-left: 10vh;
    margin-top: -2vh;
}
.SignUpNext-container{
    display:grid;
}

.sign-in-instead{
    float: left;
    margin-top: -14vh;
    margin-bottom: 10vh;
    font-weight:500;
}
.SignUp-userName {
    margin-left: 8vh;
    width: 57%;
}

.SignUp-helper-text{
    margin-left: 10vh !important;
    margin-bottom: 3vh !important;
    font-weight: 600;
    font-size: 18px;
}

.google-image {
    float: right;
    margin-top: -90vh;
    margin-right: 1vh;
}
.SignUpimage-text{
    text-align: center;
    float: right;
    margin-top: -48vh;
    margin-right: 7vh;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4286;
    color: #202124;
    margin-left: -2vh;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
.SignUp-create-heading{
    margin-top: 5vh ;
    color: #202124;
    font-weight: 400 ;
    line-height: 1.3333;
    font-size: 24px ;
    margin-bottom: 4vh ;
    margin-left: 8vh ;
    font-weight: 400 ;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif ;
    letter-spacing: .5;
    
} 

@media screen and (max-width:640px) {  
    .google-image {
      display: none !important;
    }

    .SignUp-form{
        width: 100% !important;
        border: none;
    }
    .SignUp-firstName{
        
       display: flex;
       flex-direction: row;
       width:100px;
       padding: 5.2px;
       margin-left: -8vh;
      
    }
   
    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
        width: 300%;
    }
    
   
  
    .SignUp-lastName{
        
        width: 160% !important;
        padding: 5.2px;
        margin-left: -8vh;
    }
    .SignUpPassword{
        width: 300%;
        margin-left: 1vh !important;
    }
    .SignUp-confirm{
        width: 285%;
    }

    .SignUp-create-heading{
        font-size: 18px !important;
        
        margin-left: -1vh !important;
    }
    .SignUp-helper-text{
        font-size: 10px !important;
        margin-left: -6vh !important;
        font-size: 14px !important;
    }
    

    .SIgnUp-form{
        font-size: 14px;
        line-height: 1.4286;
        color: #202124;
        font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
        text-align: left;
        border: none !important;
        margin-left: 5%;
        margin-right: -30%;
        margin-top: 2%;
        width: 100%;
    }

    .SignUp-userName{
        width: 140% !important;
        padding: 5.2px;
        margin-left: -8vh;
    }
    .SignUpform-group{
        
        margin-left: 1vh;
        display: flex;
        flex-direction: column;
    }
    html, body{
        overflow-x: hidden;
    }

        .signInInstead-text{
            margin-left: 8vh;
        }
        .SignUpEmail-link{
            font-size:12px !important;
            margin-left: -5vh;
            font-size: 13px !important;
        }    

        #SignUp-fundo-heading{
            margin-left: -1vh;
            font-size: 24px;
            
        }
        .SignUpimage-text{
            display: none !important;
        }
}  
