.TakeNoteExpand-icons{
  
    width: 45%;
    margin-right: 4vh;
    justify-content:space-between;
    color: #5f6368;
    size: 8%;
}
.Threedots-display{
    z-index:3;
}

.color-list-container{
    display: flex;
    justify-content:space-between;
    padding: 2px;


    .color-red{
        background-color: #f28b82;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;

    }

    .color-orange{
        background-color: #fbbc04;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
    .color-yellow{
        background-color:  #fff475;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
    .color-green{
        background-color:  #ccff90;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
    .color-teal{
        background-color:  #a7ffeb;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
    .color-blue{
        background-color:  #cbf0f8;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
    .color-darkBlue{
        background-color: #aecbfa;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
    .color-purple{
        background-color:  #a142f4;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
    .color-pink{
        background-color:   #fdcfe8;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
    .color-brown{
        background-color:  #e6c9a8;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
    .color-gray{
        background-color:  #e8eaed;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        justify-content:space-between;
        margin-right: 1vh;
    }
}

